# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore everything by default
**

# Re-include Go module files
!go.mod
!go.sum

# Re-include source directories
!api/
!api/**
!cmd/
!cmd/**
!internal/
!internal/**

# Ignore test files
**/*_test.go
