apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- certificate.yaml

patches:
# Enable HTTPS args in Deployment
- path: manager_prometheus_metrics_tls.yaml
  target:
    kind: Deployment
# Mount CertManager secrets in Deployment
- path: cert_metrics_manager_patch.yaml
  target:
    kind: Deployment
# Switch Service to 8443 for TLS
- path: metrics_service_tls_patch.yaml
  target:
    kind: Service
