apiVersion: v1
kind: Service
metadata:
  name: metrics-service
  namespace: system
spec:
  ports:
  - name: http
    $patch: delete
  - name: https
    port: 8443
    targetPort: 8443
    protocol: TCP
