name: Generate Helm documentation
on:
  pull_request:
      paths:
        - 'chart/**'
jobs:
  generate:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@v1
        with:
          fail-on-diff: true
          version: v1.14.2
          # git-push-user-name: "github-actions[bot]"
          # git-push-user-email: "github-actions[bot]@users.noreply.github.com"
